<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265273528271-78ee2va14vpnusqaglh1am8u8cgiae7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265273528271-78ee2va14vpnusqaglh1am8u8cgiae7e</string>
	<key>API_KEY</key>
	<string>AIzaSyDADcqj4nDmndNPWEW02o9_a3FldDyjfU4</string>
	<key>GCM_SENDER_ID</key>
	<string>265273528271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.work.AlphaMood</string>
	<key>PROJECT_ID</key>
	<string>alfa-mood</string>
	<key>STORAGE_BUCKET</key>
	<string>alfa-mood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265273528271:ios:dbad620e2ca659c5</string>
	<key>DATABASE_URL</key>
	<string>https://alfa-mood.firebaseio.com</string>
</dict>
</plist>